.about{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
    }
    .right{
        flex: 0.5;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imgContainer{
            height: 500px;
            width: 500px;
            

            img{
                height: 95%;
            }
        }
    }
}