@import "../../global.scss";

.about{
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
    }
    .right{
        flex: 0.5;

        
        .imgContainer{
            height: 500px;
            width: 500px;
            display: flex;
            align-items: center;
            margin-right: 10px;
            justify-content: left;

            img{
                height: 95%;
            }
        }
    }
}